<!-- Feito por Eduardo Floriani -->

<head>
    <link rel="stylesheet" href="../css/partials/home.css">
</head>

<header>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="homeHeader-texts">
                    <h2>AUMENTE SUA PRODUÇÃO MUSCULAR COM WHEY PROTEIN</h2>
                    <span>Consuma o suplemento mais utilizado por fisioculturistas de todas as regiões do mundo.</span>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="homeHeader-formspace">
                    <div class="homeHeader-form">
                        <form action="">
                            <h3>RECEBA NOSSAS PROMOÇÕES</h3>
                            <input type="text" placeholder="Nome" required>
                            <input type="text" placeholder="E-mail" required>
                            <input type="text" placeholder="Telefone" required>
                            <input id="push" type="submit" value="ENVIAR">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<hr>

<main>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-12">
                <div class="card mx-auto">
                    <img src="../img/mol.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-text text-center">O QUE É WHEY PROTEIN?</h4>
                    </div>
                </div>
                <div class="whey-text-col mx-auto">
                    <p>O whey protein é um suplemento obtido através da proteína do soro do leite de vaca, ovelha ou
                        cabra, que é muito usado para complementar a dieta, especialmente de quem quer ganhar massa
                        muscular, pois aumenta a produção de músculo, além de melhorar o rendimento durante os
                        exercícios físicos e a recuperação após os treinos.</p>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="card mx-auto">
                    <img src="../img/frasco.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-text text-center">COMO TOMAR WHEY PROTEIN?</h4>
                    </div>
                </div>
                <div class="whey-text-col mx-auto">
                    <p>O whey protein pode ser consumido diluído em água, batido no liquidificador com frutas ou
                        adicionado a preparações como panquecas, mingau ou açaí, por exemplo, e a ingestão diária varia
                        de acordo com o objetivo, a idade, o estado de saúde e a prática de exercícios físicos.</p>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="card mx-auto">
                    <img src="../img/mol.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-text text-center">BENEFÍCIOS WHEY PROTEIN</h4>
                    </div>
                </div>
                <div class="whey-text-col mx-auto" id="last-text-col">
                    <p>
                        Aumentar a força e o rendimento durante os treinos;
                        Aumentar a massa muscular;
                        Melhorar a recuperação do músculo no pós-treino;
                        Prevenir o envelhecimento precoce;
                        Ajudar no emagrecimento;
                        Fortalecer o sistema imunológico.</p>
                </div>
            </div>

            <div class="whey-text-colmd">
                <p>O <span>whey protein</span> é um suplemento obtido através da proteína do soro do leite de vaca,
                    ovelha ou
                    cabra, que é muito usado para complementar a dieta, especialmente de quem quer ganhar massa
                    muscular, pois aumenta a produção de músculo, além de melhorar o rendimento durante os
                    exercícios físicos e a recuperação após os treinos.<br>
                    O <span>whey protein</span> pode ser consumido diluído em água, batido no liquidificador com frutas
                    ou
                    adicionado a preparações como panquecas, mingau ou açaí, por exemplo, e a ingestão diária varia
                    de acordo com o objetivo, a idade, o estado de saúde e a prática de exercícios físicos. Por ser um
                    suplemento de proteínas de alta qualidade, o <span>whey protein</span> fornece diversos benefícios
                    para a saúde,
                    como:

                    Aumentar a força e o rendimento durante os treinos;
                    Aumentar a massa muscular;
                    Melhorar a recuperação do músculo no pós-treino;
                    Prevenir o envelhecimento precoce;
                    Ajudar no emagrecimento;
                    Fortalecer o sistema imunológico.
                    É importante lembrar que para obter os benefícios com o uso do <span>whey protein</span>, deve-se
                    manter uma
                    dieta balanceada e praticar exercícios físicos regularmente.
                </p>
            </div>
        </div>
    </div>

    <div class="graybar">
        <h2>AVALIAÇÕES DE NOSSOS CLIENTES</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-3 col-6 mgt">
                <div class="name-rating mx-auto">
                    <h4>Marcos Rodrigo Figueiredo</h4>
                </div>
                <div class="stars">
                    <i class="icofont-star"></i>
                    <i class="icofont-star"></i>
                    <i class="icofont-star"></i>
                    <i class="icofont-star"></i>
                    <i class="icofont-star"></i>
                </div>
                <div class="text-rating mx-auto">
                    <p>Produtos de qualidade, irei indicar</p>
                </div>
            </div>
            <div class="col-md-3 col-6 mgt">
                <div class="name-rating mx-auto">
                    <h4>Enrico Gael Lucas Santos</h4>
                </div>
                <div class="stars">
                    <i class="icofont-star"></i>
                    <i class="icofont-star"></i>
                    <i class="icofont-star"></i>
                    <i class="icofont-star"></i>
                    <i class="icofont-star"></i>
                </div>
                <div class="text-rating mx-auto">
                    <p>Vou pedir novamente, muito bom!</p>
                </div>
            </div>
            <div class="col-md-3 col-6 mgb rb">
                <div class="name-rating mx-auto">
                    <h4>Sophia Brenda Gomes</h4>
                </div>
                <div class="stars">
                    <i class="icofont-star"></i>
                    <i class="icofont-star"></i>
                    <i class="icofont-star"></i>
                    <i class="icofont-star"></i>
                    <i class="icofont-star"></i>
                </div>
                <div class="text-rating mx-auto">
                    <p>Entra rápida e suporte muito bom!</p>
                </div>
            </div>
            <div class="col-md-3 col-6 mgb rb">
                <div class="name-rating mx-auto">
                    <h4>João Antonio da Cunha</h4>
                </div>
                <div class="stars">
                    <i class="icofont-star"></i>
                    <i class="icofont-star"></i>
                    <i class="icofont-star"></i>
                    <i class="icofont-star"></i>
                </div>
                <div class="text-rating mx-auto">
                    <p>Produto bom mas chegou com a caixa amassada</p>
                </div>
            </div>
        </div>
    </div>
</main>